{% extends 'layout.html.twig' %}

{% block body_class %}intro{% endblock body_class %}
{% block body %}

    <section class="section section--intro section--intro-splash">
        <div class="center-content">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12 text-center">
                        <img src="{{ asset('assets/images/first-intro-desktop.png') }}" class="intro-img intro-desktop">
                        <img src="{{ asset('assets/images/first-intro.png') }}" class="intro-img intro-mobile">
                    </div>
                    <div class="col-12">
                        <a href="{{ path('code_register')}}" class="btn btn--red">Učestvuj</a>
                    </div>
                </div>
            </div>
        </div>
            <div class="intro-info text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <p><strong>U akciji učestvuje bilo koji od Jelen proizvoda.</strong></p>
                            <p><strong>Nagradni konkurs traje od 08.04. do 19.05.2021. godine.</strong></p>
                            <p>Ukupan broj nagrada je 1.530. Ilustracije nagrada ne moraju da odgovaraju stvarnom izgledu pravih nagrada.</p>
                        </div>
                    </div>
                </div>
            </div>
        
        {% include 'copyright.html.twig' %}
    </section>

{% endblock body %}
