{% extends 'layout.html.twig' %}
{% block body_class %}prizes-page{% endblock body_class %}
{% block body %}

    {% include 'nav.html.twig' %}

    <section class="section section--inner section--inner-rules">
        <div class="container">
            <div class="row">
                <div class="col-10 mx-auto text-center">
                    <div class="staropramen-piknik">
                       <img src="{{ asset('assets/images/sutiraj.png') }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 m-auto">
                    {# <div class="heading heading--white-bg">
                        NAGRADE
                    </div> #}
                    <div class="content content--prizes content--black-bg">
                        <div class="row align-items-center">
                            <div class="col-md-12 col-sm-12 col-12 text-center">
                                <img src="{{ asset('assets/images/nagrade.png') }}">    
                            </div>
                            {# <div class="col-md-6 col-sm-12 col-12 text-center align-content-center mx-auto">
                                <div class="prize">
                                    <div class="prize__img">
                                        <img src="{{ asset('assets/images/nagrade/laptop.png') }}">
                                    </div>
                                    <div class="prize__name">
                                        10x Laptop
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <div class="prize">
                                            <div class="prize__img">
                                                <img src="{{ asset('assets/images/nagrade/slusalice.png') }}">
                                            </div>
                                            <div class="prize__name">
                                                50x<br>Slušalice
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <div class="prize">
                                            <div class="prize__img">
                                                <img src="{{ asset('assets/images/nagrade/lazy-bag.png') }}">
                                            </div>
                                            <div class="prize__name">
                                                300x<br>Lejzi beg
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <div class="prize">
                                            <div class="prize__img">
                                                <img src="{{ asset('assets/images/nagrade/pivo.png') }}">
                                            </div>
                                            <div class="prize__name">
                                                500x<br>Karton Piva
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <div class="prize">
                                            <div class="prize__img">
                                                <img src="{{ asset('assets/images/nagrade/prostirka.png') }}">
                                            </div>
                                            <div class="prize__name">
                                                800x<br>Prostirka
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> #}
                        </div>
                    </div>
                    <div class="heading heading--white-bg uppercase">
                        Ukupan fond nagrada je 1.530
                    </div>
                </div>
            </div>
        </div>
        {% include 'copyright.html.twig' %}
    </section>
{% endblock body %}
