{% extends 'layout.html.twig' %}

{% block body %}

    {% include 'nav.html.twig' %}

    <section class="section section--inner section--inner-rules">
        <div class="container">
            <div class="row">
                <div class="col-10 mx-auto text-center">
                    <div class="bavaria-leto bavaria-leto--blue">
                        <img src="{{ asset('assets/images/sutiraj.png') }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 mx-auto">
                    <div class="heading heading--white-bg text-center">
                        Politika zaštite podataka o ličnosti
                    </div>
                    <div class="content content--black-bg">
                        <p><strong><u>Apatinska pivara Apatin d.o.o.</u></strong></p>

                        <p><strong>Poslednji put ažurirana i stupila na snagu</strong>: 22.05.2018.</p>

                        <p align="center"><strong>Uvod</strong></p>

                        <p>Apatinska pivara Apatin d.o.o. (dalje: APA) vrednuje i ceni privatnost svakog pojedinca. Mi želimo da vi budete obavešteni od načinu na koji prikupljamo, koristimo i čuvamo vaše podatke.</p>

                        <p>U ovoj Politici privatnosti se opisuju naši postupci u vezi sa Podacima (definisani u odeljku 3) koji se prikupljaju na našim veb stranicama, stranicama na društvenim mrežama i promotivnim sajtovima koje kontrolišemo, vidžetima, mobilnim lokacijama i aplikacijama, našim nagradnim programima, blogovima, interaktivnim aplikacijama, putem elektronske pošte ili tekstualnih poruka (SMS i MMS) koje vam šaljemo i drugih interaktivnih funkcija (svaki pojedinačno „Lokacija“ ili zajedno „Lokacije“), putem naših reklama na internetu na veb stranicama trećih strana ili posredstvom dobavljača/izvora od kojih dobijamo podatke.</p>

                        <p>U kontekstu važećeg zakona o zaštiti podataka i privatnosti, pravno lice APA kom dostavljate svoje Podatke i/ili koje upravlja Lokacijom putem koje komunicirate sa nama će biti rukovalac Podataka o ličnosti (definisano u nastavku) koji su prikupljeni od vas na Lokaciji.</p>

                        <p>Preporučujemo vam da pročitate celu Politiku privatnosti kako biste se upoznali sa našim procedurama.</p>

                        <p align="center"><strong>P</strong><strong>olitika</strong></p>

                        <p>&nbsp;</p>

                        <ol>
                            <li>Ova Politika privatnosti se primenjuje na podatke koje dobijemo od pojedinca u komunikaciji sa nama ili našim Lokacijama, proizvodima ili uslugama. Ne odnosi se na podatke koje dobijamo u svojstvu poslodavca. Prilikom interakcije sa našim Lokacijama niste u obavezi da dostavite bilo koje Podatke, međutim, ako odaberete da to ne uradite, možda nećete imati pristup određenim funkcijama Lokacija i drugim uslugama.</li>
                        </ol>

                        <p>&nbsp;</p>

                        <ol>
                            <li value="2"><strong><u>PRISTUP OGRANIČEN SAMO na OSOBE KOJE SU STARIJE OD ZAKONSKOG MINIMUMA KADA JE DOZVOLJENO KONZUMIRANJE ALKOHOLA </u></strong></li>
                        </ol>

                        <p><strong>Lokacije APA i pristup svim reklamnim ili marketinškim podacima SU namenjenI isključivo osobama koje su starije od zakonskog minimuma kada je dozvoljeno konzumiranje alkohola u skladu sa pravnim sistemom gde se tom sadržaju pristupa ili se gleda. Bićete u obavezi da potvrdite svoj datum rođenja pre pristupa ili interakcije sa lokacijom. Prozori za potvrdu godina se mogu takođe nalaziti i unutar lokacija. </strong></p>

                        <p><strong>Mi ne prikupljamo svesno podatke od osoba koje su mlađe od zakonskog minimuma kada je dozvoljeno konzumiranje alkohola i tražimo od tih osoba da nam ne dostavljaju bio kakve podatke (definisano u nastavku) i da ne pristupaju našim lokacijama. Ako ste mlađi od zakonskog minimuma kada je dozvoljeno konzumiranje alkohola i pristupili ste našoj lokaciji dajući netačan datum rođenja, morate smesta da napustite lokaciju. Ako verujete da nam je neko mlađi od zakonskog minimuma kada je dozvoljeno konzumiranje alkohola dostavio podatke tako što je pristupio kršeći važeća ograničenja za pristup lokaciji, molimo vas da nas odmah kontaktirate i ti podaci će biti odmah uklonjeni. </strong></p>

                        <ol>
                            <li value="3"><strong><u>PRIKUPLJANJE, KORIŠĆENJE I OTKRIVANJE PODATAKA </u></strong></li>
                        </ol>

                        <ol>
                            <li><u>Vrste podataka:</u> APA prikuplja dve vrste podataka (zajedno „Podaci“):</li>
                        </ol>

                        <ol>
                            <li>„Podaci o ličnosti” su podaci o osobi čiji se identitet može utvrditi u skladu sa važećim zakonom. Ovi podaci se obično prikupljaju kada otvorite nalog, naručite robu, pristupite promociji, imate interakciju putem društvenih mreža, obratite se korisničkoj službi ili dostavite upit na Lokaciji. Primeri Podataka o ličnosti uključuju:
                                <ul>
                                    <li>Kontakt podatke (npr. ime i prezime, kućna ili fizička adresa, adresa e-pošte, broj telefona i broj mobilnog telefona);</li>
                                    <li>Podatke koji se tiču slanja računa i pošiljki (npr. broj kreditne/debitne kartice, datum isteka, CCV kod, adrese za slanje računa i pošiljki i kontakt podaci);</li>
                                    <li>Korisničko ime i lozinka koji se koriste za pristup Lokacijama, uključujuću verifikaciju putem platformi društvenih mreža;</li>
                                    <li>Podatke u vezi sa nalozima na društvenim mrežama (npr. korisničko ime i lozinke, profilne slike i druge slike koje su na raspolaganju kao sadržaj koji je postavio korisnik) i</li>
                                    <li>Druge Podatke o ličnosti koji se smatraju neophodnim ili se dostavljaju dobrovoljno.</li>
                                </ul>
                            </li>
                            <li>&nbsp;„Ostali podaci” su podaci koji se prikupljaju na Lokacijama, internetu i iz izvora trećih strana u kojima se pojedinac ne identifikuje konkretno. Primeri Ostalih podataka obično uključuju:
                                <ul>
                                    <li>Podatke o korišćenju web aplikacija;</li>
                                    <li>Podatke koji se prikupljaju putem kolačića, oznaka, piksela, providnih piksela, veb svetionika i drugih sličnih tehnologija;</li>
                                    <li>Podatke o geografskoj lokaciji kao što je vaša precizna ili približna lokacija;</li>
                                    <li>Veb stranice na koje se upućuje ili postojeće veb stranice/URL-ove (uključujući i URL-ove koji klikom vode dalje ili piksel-pločice);</li>
                                    <li>Podatke o pretraživaču i uređaju (uključujući platformu i verziju);</li>
                                    <li>Ostale grupne ili anonimne podatke.</li>
                                </ul>
                            </li>
                        </ol>

                        <ol>
                            <li value="2"><u>Na koje načine možemo prikupljati podatke</u>: APA može prikupljati podatke na sledeće načine:</li>
                        </ol>

                        <ul>
                            <li><strong>Oflajn</strong> (npr. upiti korisničkom servisu, nagradne igre);</li>
                            <li><strong>Onlajn tehnologije za praćenje, uključujući unakrsno praćenje uređaja </strong>(npr. servisni log fajlovi, IP adresa, oznake, pikseli, providni pikseli, gifovi, bagovi, veb svetionici i druge slične tehnologije, od kojih neke omogućavaju kompaniji APA ili našim pružaocima usluga da vas identifikuju i prikupe podatke o vama putem uređaja i Lokacija);</li>
                            <li><strong>Korišćenjem mobilnih uređaja </strong>(tj. Podaci dobijeni sa vaših mobilnih aplikacija, kao što je nadmorska visina i širina na kojoj se nalazi vaš uređaj (npr. GPS, Wi-Fi, Bluetooth signal, veb svetionici, čipovi za LED svetlo ili druge slične tehnologije) ili aplikacija ili servisa za plaćanje trećih strana.</li>
                            <li><strong>Putem pretraživača ili uređaja </strong>(npr. određeni podaci, uključujući vrstu računara, naziv operativnog sistema, IP adresu, adresu za kontrolu pristupa medijima (MAC), jezik, vrstu i verziju internet pretraživača i pružaoca usluge koji se često automatski prikupljaju na većini pretraživača);</li>
                            <li><strong>Putem analitike veb stranice i reklamnih funkcija </strong>(npr. Google Analytics, Google Analytics Demographics, Interest Reporting, Adobe Flash tehnologije, uključujući ali se ne ograničavajuću i na lokalno sačuvane objekte &nbsp;Adobe Flash, Quantcast)</li>
                            <li><strong>Drugi izvori </strong>(npr. javne baze podataka; zajednički marketinški partneri, platforme društvenih medija, od ljudi sa kojima ste povezani na društvenim mrežama, javnih foruma i od ostalih trećih strana).&nbsp;</li>
                        </ul>

                        <p>&nbsp;</p>

                        <ol>
                            <li value="3"><u>Na koji način možemo koristiti podatke</u>: U onoj meri kojom je to dozvoljeno važećim zakonom kompanija APA može koristiti vaše podatke kako bi:</li>
                        </ol>

                        <ul>
                            <li>Vam slala administrativne podatke kao što su na primer podaci o Lokacijama i promenama&nbsp; naših odredaba, uslova i politika.
                                <ul>
                                    <li><em>Jer ovi podaci mogu biti važni za vaše korišćenje Lokacija, možete odlučiti da ne želite da primate ove poruke</em>;</li>
                                </ul>
                            </li>
                            <li>Upravljala vašim nalogom na bilo kojoj od naših Lokacija, uključujući i naknadne programe, nagradne igre i takmičenja za koja se prijavljujete, uključujući i obaveštavanje o rezultatima.
                                <ul>
                                    <li><em>Napominjemo da neke promocije imaju dodatna pravila koja sadrže dodatne podatke o korišćenju i otkrivanju vaših Podataka</em>;</li>
                                </ul>
                            </li>
                            <li>Vam slala marketinške poruke i najnovije podatke o kompaniji APA <strong>za koje ste se prijavili,</strong> uključujući i podatke o novim proizvodima, događajima i promocijama (npr. poruke e-pošte, „push“ notifikacije, SMS i MMS poruke);</li>
                            <li>Vam dostavljala prilagođene ili namenske reklame na osnovu Podataka koje smo prikupili usled vašeg korišćenja naših Lokacija i reklama, Podataka koje smo dobili od trećih strana ili kombinacije ovih izvora, uključujući i prethodne kupovine ili interesovanja;</li>
                            <li>Vam slala poruke e-pošte o transakcijama koje se odnose na kupovine na našim Lokacijama, uključujući potvrde porudžbine i poruke e-pošte da u kolicima za kupovinu ima zaboravljenih stavki;</li>
                            <li>Ispunila vašu porudžbinu i obradila vaše transakcije/uplate;</li>
                            <li>Pružila podršku kupcima i odgovorila na vaše upite i ispunila vaše zahteve;</li>
                            <li>Vam dozvolila interakciju ili postavljanje na našim stranicama na društvenim mrežama i blogovima, i svim sličnim platformama u koje odlučite da se uključite sa nama i ostalim kupcima. <em>Napominjemo da svi podaci koje postavite ili otkrijete na ovim platformama postaju javni podaci i dostupni posetiocima Lokacija i javnosti uopšte</em>;</li>
                            <li>Vam omogućila da šaljete poruke prijatelju (samo starijima od minimalnog uzrasta kada je dozvoljeno konzumiranje alkohola) putem Lokacija. Koristeći ovu funkciju govorite nam da imate pravo na upotrebu i dostavljate nam kontakt podatke svog prijatelja.</li>
                            <li>Vršili marketinško istraživanje i analizu i u druge poslovne svrhe, <strong>za koje ste vi dali pristanak</strong> uključujući ali se ne ograničavajući na revizije, razvoj novih proizvoda, unapređenje naše komunikacije sa vama i našim Lokacijama, procenu efektivnosti naših medijskih kupovina, utvrđivanje trendova i obrazaca koji se tiču saobraćaja/preuzimanja i utvrđivanja problema;</li>
                            <li>Personalizovala vaše iskustvo na našim Lokacijama, uključujući prikazivanje sadržaja na osnovu vaše lokacije, prethodnih kupovina, interesovanja, kao i Podataka koji su prikupljeni sa uređaja i Lokacija, <strong>samo kada vi to tražite</strong>;</li>
                            <li>Postupala u skladu i sprovodila propisane zakonske zahteve;</li>
                            <li>Odgovorila na zahteve državnih organa, i</li>
                            <li>Na drugi zakonom propisan način.</li>
                        </ul>

                        <ol>
                            <li value="4"><strong><u>TEHNOLOGIJE ZA PRAĆENJE </u></strong></li>
                        </ol>

                        <p>&nbsp;</p>

                        <ol>
                            <li><u>Kolačići i tehnologije za praćenje</u>. Kompanija APA koristi „kolačiće”, „oznake”, „piksele”, „providne piksele” i druge slične tehnologije za praćenje na našim Lokacijama. Kolačić je tekstualni fajl koji se postavlja na vaš računar ili drugi mobilni uređaj kada pristupite Lokacijama ili internetu. Ove tehnologije omogućavaju kompaniji APA da prikuplja podatke o vašoj interakciji sa našim Lokacijama i reklamama. Primeri tih podataka mogu da obuhvataju, ali se ne ograničavaju na: demografske podatke, vrstu pretraživača, IP adresu, pregledane strane, vršene aktivnosti i vreme vaše posete. Vi u svakom trenutku možete da se odlučite da se odjavite sa određenih mehanizama za praćenje putem podešavanja na pretraživaču. Međutim, onemogućavanje tih funkcija vas može sprečiti da koristite određene funkcije ili da u potpunosti iskoristite naše ponude na Lokaciji.&nbsp;</li>
                        </ol>

                        <p>&nbsp;</p>

                        <p>Različite vrste kolačića se koriste za različite svrhe na našim Lokacijama, i oni su poznati kao: strogo neophodni kolačići, kolačići performansi i kolačići funkcionalnosti. Neke kolačiće može da postavlja treća strana da bi se dodala nova funkcija na našoj Lokaciji i oni su opisani u nastavku.</p>

                        <p>&nbsp;</p>

                        <p><strong>Strogo neophodni kolačići</strong></p>

                        <p>Ovi kolačići su neophodni da se izvrši radnja koju ste zahtevali, kao što je potvrda da ste se ulogovali. Ako sprečite ove kolačiće prilagođavajući podešavanja svog pretraživača ne možemo da garantujemo kako će naše Lokacije raditi tokom vaše posete.</p>

                        <p>&nbsp;</p>

                        <p><strong>Kolačići performansi </strong></p>

                        <p>Ovi kolačići se koriste da unaprede naše Lokacije, na primer za potrebe analitike koja nam omogućava da vidimo na koji način se naša Lokacija koristiti i gde se stvari mogu unaprediti. Ovi kolačići se koriste za prikupljanje Podataka o tome na koji način posetioci koriste naše Lokacije. Podaci se prikupljaju u anonimnom formatu i obuhvataju broj posetilaca, odakle posetioci pristupaju Lokacijama i strane koje su posećene.</p>

                        <p>&nbsp;</p>

                        <p><strong>Kolačići funkcionalnosti </strong></p>

                        <p>Ovi kolačići unapređuju rad i funkcionalnosti naših Lokacija, često kao rezultat nečega što kao korisnik radite. Na primer, možemo personalizovani naš sadržaj za vas ili zapamtiti vaše preferencije.</p>

                        <p>&nbsp;</p>

                        <p>Kompanija APA, naši pouzdani dobavljači/pružaoci usluga i odobrene treće strane mogu takođe reklamirati naše proizvode na veb stranicama trećih strana. Veb stranice trećih strana mogu takođe da imaju kolačiće ili druge vrste sredstava za praćenje. Kompanija APA, naši pouzdani dobavljači/pružaoci usluga i odobrene treće strane nemaju kontrolu nad tehnologijama za praćenje koje se koriste na veb stranicama trećih strana. Zbog toga treba pažljivo da pročitate politiku privatnosti ovih trećih strana da biste razumeli njihove aktivnosti praćenja, ako ih ima.</p>

                        <p>&nbsp;</p>

                        <ol>
                            <li value="2"><u>Zahtevi da se ne vrši praćenje</u>. Mi ćemo automatski prikupljati kolačiće i druge podatke kada posetite Lokaciju. Usled ovog automatskog prikupljanja mi trenutno ne prihvatamo pretraživače sa zahtevima „da se ne vrši praćenje“. &nbsp;Trenutno učestvujemo u reklamnim mrežama trećih strana i koristimo kolačiće trećih strana na način koji je objašnjen u prethodnom tekstu, &nbsp;kako bismo pratili vaše posete na različitim veb lokacijama.</li>
                        </ol>

                        <p>&nbsp;</p>

                        <p>Za informacije o tome kako da se odjavite kako se vaši podaci ne bi prikupljali putem sredstava za praćenje pogledajte odeljak u nastavku „Izbor/Odjava“.&nbsp;</p>

                        <p>&nbsp;</p>

                        <ol>
                            <li value="3"><u>Onesposobljavanje kolačića na vašem pretraživaču</u>. Možete da odbijete ili obrišete kolačiće na našim Lokacijama. Pogledajte uputstva za pomoć na vašem pretraživaču kako biste saznali više o kolačićima i drugim sredstvima za praćenje i na koji način da njima upravljate. Ako odaberete da odbijete ili obrišete kolačiće neke funkcije naših Lokacija mogu biti otežane. Ako koristite drugi računar ili promenite pretraživač &nbsp;morate da ponovite postupak odbijanja ili brisanja kolačića. Više informacija o kolačićima, uključujući i način na koji treba da podesite svoj internet pretraživač kako biste odbili kolačiće možete pronaći na <a href="http://www.allaboutcookies.org">www.allaboutcookies.org</a>.</li>
                        </ol>

                        <p>&nbsp;</p>

                        <ol>
                            <li value="4"><u>Praćenje reklama</u>.&nbsp; Određena sredstva vam mogu omogućiti da ograničite praćenje reklama. Pogledajte postavke na svom računaru ili uređaju za više informacija o tome kako možete da isključite praćenje reklama.</li>
                        </ol>

                        <p>&nbsp;</p>

                        <ol>
                            <li value="5"><strong><u>TRANSAKCIJE</u></strong></li>
                        </ol>

                        <p>U nekim slučajevima možemo da koristimo servis za plaćanja treće strane za obradu kupovina koje se vrše putem Lokacija, uključujući ali se ne ograničavajući na sajtove za rezervacije i sajtove prodavnica za eTrgovinu/kupovinu, o čemu ćemo vas obavestiti. U ovim slučajevima vaše Podatke može prikupljati ova treća strana a ne mi, i sa njima će se postupati u skladu da politikom privatnosti te treće strane, a ne ovom Politikom privatnosti. Mi nemamo kontrolu niti smo odgovorni za način na koji ova treća strana koristi ili otkriva vaše Podatke.</p>

                        <ol>
                            <li value="6"><strong><u>DELJENJE VAŠIH PODATAKA/OTKRIVANJE TREĆIM STRANAMA </u></strong></li>
                        </ol>

                        <p>U nekim situacijama kompanija APA može određene Podatke staviti na raspolaganje trećim stranama (&nbsp;</p>

                        <p>Na primer, kompanija APA može da deli informacije koje prikuplja o vama:</p>

                        <ul>
                            <li>U skladu sa zakonom, u slučaju istrage ili sličnog pravnog postupka.</li>
                        </ul>

                        <ol>
                            <li value="7"><strong><u>USLUGE KOJE SE ZASNIVAJU NA LOKACIJI </u></strong></li>
                        </ol>

                        <p>&nbsp;</p>

                        <p>Kompanija APA može prikupljati informacije o fizičkoj lokaciji &nbsp;vašeg uređaja koristeći npr. satelit, GPS, predajnike za mobilne telefone, tornjeve ili Wi-Fi signale. Kada date saglasnost možemo da koristimo fizičku lokaciju vašeg uređaja da bismo vam omogućili usluge i sadržaje koji su prilagođeni vašoj lokaciji, uključujući reklame. Mi takođe možemo da delimo fizičku lokaciju vašeg uređaja u kombinaciji sa podacima o tome koje reklame ste pogledali ili drugim podacima koje prikupljamo, sa našim marketinškim partnerima kako bismo omogućili da vam dostavljaju personalizovan sadržaj, uključujući i reklame i da analiziraju efikasnost reklamnih kampanja. U nekim situacijama vam može biti dozvoljeno da prihvatite ili odbijete te vrste upotrebe i/ili deljenja lokacije vašeg uređaja, ali ako odlučite da odbijete te upotrebe i/ili deljenje lokacije vašeg uređaja, mi i/ili naši marketinški partneri možda nećemo biti &nbsp;u mogućnosti da vam šaljemo odgovarajuće personalizovane usluge i sadržaj. Ako ne date pristanak, ova lokacija se prikuplja anonimno u formi koja vas lično ne identifikuje. Na primer, kada preuzmete Lokaciju APA (uključujući i mobilnu aplikaciju) na svoj uređaj, možete imati mogućnost da navedete da biste želeli da delite svoju lokaciju.</p>

                        <p>Informacije o odjavljivanju sa usluga koje se zasnivaju na lokaciji možete naći u Podešavanjima na svom uređaju.</p>

                        <ol>
                            <li value="8"><strong><u>BEZBEDNOST I ČUVANJE PODATAKA </u></strong></li>
                        </ol>

                        <p>Bezbednost, integritet i poverljivost vaših Podataka su nam izuzetno važni. Kompanija APA koristi mere administrativne, tehničke i fizičke zaštite Podatka koje imamo o vama i kako bi se oni koristili u skladu sa ovom Politikom privatnosti. Međutim, budite svesni da uprkos našim najboljim naporima ne postoje mere zaštite koje su savršene i neprobojne. Ako imate razlog da verujete da vaši Podaci o ličnosti nisu bezbedni obratite nam se odmah u skladu sa odeljkom <strong><u>15</u></strong> u nastavku.</p>

                        <p>Kada postavljate sadržaje na društvenim mrežama ili drugim javnim platformama, Podaci koje delite su vidljivi drugim korisnicima i mogu ih čitati, prikupljati i koristiti drugi korisnici. Kompanija APA nije odgovorna za Podatke koje doborovoljno delite ili postavljate na ovim platformama. Na primer, ako na neku lokaciju društvenih medija postavite svoje ime i prezime, godine i adresu, ti Podaci su javni.</p>

                        <p>Mi ćemo vaše Podatke o ličnosti čuvati dok god je to u razumnoj meri neophodno za svrhe zbog kojih su prikupljeni i na način koji je opisan u ovom obaveštenju. U nekim okolnostima vaše Podatke o ličnosti možemo čuvati tokom dužih vremenskih perioda, na primer kada je to neophodno u skladu sa zakonskim, regulatornim obavezama.</p>

                        <ol>
                            <li value="9"><strong><u>MEĐUNARODNI KORISNICI </u></strong></li>
                        </ol>

                        <p>Podaci koje dostavljate ili koji se prikupljaju se mogu prenositi u skladu sa zakonom</p>

                        <p>Više informacija o načinu na koji prenosimo Podatke o ličnosti u skladu sa konkretnim zakonom EU o zaštiti podatka možete pronaći u odeljku o Dodatnim podacima za rezidente EU.</p>

                        <ol>
                            <li value="10"><strong><u>DRUŠTVENE MREŽE/OnlAJN ZAJEDNICE </u></strong></li>
                        </ol>

                        <p>Na određenim Lokacijama vam možemo omogućiti pristup onlajn zajednicama za deljenje Podataka u vidu poruka, fotografija i video materijala. Ove Podatke možete deliti samo sa osobama koje su stariji od minimalne granice za konzumiranje alkohola u skladu sa propisima u pravim sistemu iz kog pristupaju toj Lokaciji. Možemo vam takođe omogućiti da postavljate sadržaj sa nekih Lokacija na svom profilu na društvenim mrežama. Napominjemo da se će na sve sadržaje koje postavljate ili delite na toj Lokaciji primenjivati politika privatnosti te društvene mreže. Takođe, kada postavljate ili delite sadržaje ili komunikaciju sa naših Lokacija sa bilo kojom društvenom mrežom treće strane, na taj način nam omogućavate da delimo Podatke sa tom društvenom mrežom treće strane.</p>

                        <p>Ne možemo da kontrolišemo politike ili uslove te treće društvene mreže. Na primer, deljenje tih Podataka sa mrežom Facebook može značiti da moramo da iskoristimo kolačiće i/ili API-je da bismo omogućili komunikacije između naših Lokacija i Facebook-a. Ti Podaci koji se dele putem kolačića i/ili API-ja onda postaju predmet Politike privatnosti Facebook-a koja se nalazi na <a href="https://www.facebook.com/full_data_use_policy">https://www.facebook.com/full_data_use_policy</a>.&nbsp; Kao rezultat ne možemo biti odgovorni za bilo koju upotrebu vaših Podataka ili sadržaja na društvenoj mreži treće strane, koju koristite na sopstveni rizik.</p>

                        <ol>
                            <li value="11"><strong><u>POVEZANE LOKACIJE</u></strong></li>
                        </ol>

                        <p>Naše Lokacije mogu sadržati linkove prema veb stranicama trećih strana ili aplikacijama koje ne kontroliše kompanija APA i na koje se ne primenjuje ova Politika privatnosti. Ako dostavite Podatke bilo kojoj od ovih veb stranica, na vaše Podatke se primenjuju njihove politike privatnosti. Podstičemo vas da pažljivo pročitate politike privatnosti svih veb stranica ili aplikacija koje posetite. Mi nemamo kontrolu niti ovlašćenje nad lokacijama trećih strana i nismo odgovorni za bilo koje Podatke koje dostavite na toj lokaciji.</p>

                        <p>Napominjemo da ako nam dostavite Podatke putem društvenih medija ili ste aktivnim na lokaciji društvene mreže koja je povezana sa našim Lokacijama, na taj način dajete pristanak da možemo koristiti vaše Podatke iz bilo kog razloga i na isti način kao da ste ih dostavili direktno preko Lokacije.</p>

                        <ol>
                            <li value="12"><strong><u>DODATNI PODACI</u></strong></li>
                        </ol>

                        <p>Naše Lokacije mogu imati interaktivne programe koji omogućavaju određene usluge druge kompanije, kao što je „lajkovanje“ ili deljenje sadržaja, koji se često nazivaju „vidžeti“. Možete imati priliku da dostavite Podatke kao što su vaša adresa e-pošte za prikupljanje putem vidžeta. Vidžet takođe može koristiti kolačiće i/ili prikupljati podatke o korišćenju. Na podatke koji se prikupljaju putem vidžeta se primenjuje politika privatnosti kompanije koja ga je kreirala.</p>

                        <ol>
                            <li value="13"><strong><u>UPITI O PRIVATNOSTI, ISPRAVLJANJE VAŠIH PODTAKA I IZBOR/PRIJAVA-ODAJAVA </u></strong></li>
                        </ol>

                        <p>&nbsp;</p>

                        <ol>
                            <li><u>Upiti u vezi sa privatnošću </u></li>
                        </ol>

                        <p>Ako imate bilo kakvih pitanja ili komentara u vezi sa ovom Politikom privatnosti, ili ako biste želeli da pregledate, ažurirate, ispravite ili uklonite bilo koje Podatke o ličnosti iz naše evidencije, obratite nam se koristeći podate koji su dati u nastavku. Kada primimo vaš zahtev za uklanjanje, mi ćemo ukloniti vaše Podatke o ličnosti iz naših evidencija osim ukoliko nemamo određenu zakonsku obavezu da čuvamo vaše Podatke o ličnosti.</p>

                        <p align="center">Apatinska pivara Apatin d.o.o.</p>

                        <p align="center">Trg Oslobodjenja br. 5,</p>

                        <p align="center">25260 Apatin, Srbija</p>

                        <p align="center">E-pošta: info.apa@molsoncoors.com</p>

                        <p>Napominjemo da komunikacija elektronskom poštom nije uvek bezbedna, tako da savetujemo da nam u porukama e-pošte ne šaljete osetljive podatke, uključujući podatke o kreditnoj kartici.</p>

                        <p>Mi ćemo se truditi da na vaše zahteve odgovorimo u najkraćem mogućem roku u skladu sa zakonom.</p>

                        <ol>
                            <li value="2"><u>Ažuriranja adresa e-pošte </u></li>
                        </ol>

                        <p>Ako želite da vaša adresa e-pošte bude uklonjena iz naših evidencija pratite uputstva za odjavu koja se nalaze u porukama e-pošte koje od nas dobijate i pratite postupak koji je opisan u pododeljku A u prethodnom delu ovog teksta.</p>

                        <ol>
                            <li value="3"><u>Ažuriranja podataka u vezi sa mobilnim marketingom (SMS i MMS) </u></li>
                        </ol>

                        <p>Ako odaberete da budete na spisku za mobilni marketing, imajte na umu da obično postoje troškovi poruka i prenosa podataka u vezi sa prijemom SMS (tekstualnih) ili MMS (multimedijalnih) poruka. Oni će se razlikovati u zavisnosti od mobilnog operatera i paketa. Trebalo bi da sa svojim mobilnim operaterom proverite koji su troškovi pre nego što se prijavite za prijem ažuriranja putem mobilnog uređaja. Ako biste želeli da prestanete da dobijate poruke od nas na mobilni uređaj, na poruku pošaljete odgovor „STOP” (ili drugu vrstu poruke ako je to potrebno). Možete takođe da se obratite mobilnom operateru za dodatne informacije o prijemu ili prestanku prijema poruka na mobilni uređaj.</p>

                        <ol>
                            <li value="4"><u>Lokacijske usluge </u></li>
                        </ol>

                        <p>Ako ste prethodno odabrali da nam vaš računar ili mobilni uređaj šalje podatke o lokaciji, možda možete imati mogućnost da se odjavite i sprečite nas da dalje pristupamo tim podacima tako što ćete promeniti postavke na svom računaru ili mobilnom uređaju ili tako što ćete obrisati aplikaciju.</p>

                        <ol>
                            <li value="5"><u>„Push“ notifikacije</u></li>
                        </ol>

                        <p>Ako želite da onemogućite „push“ notifikacije na svom mobilnom uređaju pogledajte podešavanja na mobilnom uređaju.</p>

                        <ol>
                            <li value="6"><u>Analitika trećih strana </u>

                                <ol>
                                    <li>Google Analytics: Za više podataka o tome kako da se odjaviti kako ne bismo koristili Google Analytics ili kako ne bismo koristili njegove reklamne funkcije posetite <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a> i <a href="http://www.google.com/safetycenter/tools/#manage-your-ads-preferences">http://www.google.com/safetycenter/tools/#manage-your-ads-preferences</a>,</li>
                                    <li>Quantcast: Više informacija i uputstvo kako da se odjavite sa Quantcast, možete pronaći na njihovom sajtu <a href="https://www.quantcast.com/opt-out">https://www.quantcast.com/opt-out</a>.</li>
                                    <li>Stranica DAA za odjavu: Korisnici se mogu odjaviti sa opcije dodatnog praćenja i ciljnog marketinga. Uključujući Google Analytics i Quantcast, putem stranice za odjavu Alijanse za digitalno oglašavanje (DAA) i stranice za odjavu &nbsp;Inicijative za mrežno oglašavanje (NAI) na &nbsp;<a href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/</a> ili <a href="http://www.networkadvertising.org/choices/">http://www.networkadvertising.org/choices/</a>.</li>
                                </ol>
                            </li>
                        </ol>

                        <p>&nbsp;</p>

                        <p>&nbsp;</p>

                        <p>&nbsp;</p>

                        <ol>
                            <li value="14"><strong><u>IZMENE OVE POLITIKE PRIVATNOSTI</u></strong></li>
                        </ol>

                        <p>Vaše korišćenje Lokacija i dalje korišćenje Lokacija nakon izmena ove Politike privatnosti znači da se slažete sa odredbama i uslovima Politike privatnosti. Ako se ne slažete sa uslovima ove Politike privatnosti nemojte koristiti Lokaciju niti nam dostavljati Podatke.&nbsp;</p>

                        <p>S vremena na vreme možemo ažurirati ovu Politiku privatnosti postavljanjem izmena ili dopuna na ovoj stranici, pa vas ohrabrujemo da periodično pregledate ovu Politiku privatnosti.</p>

                        <p>&nbsp;</p>

                        <p>Preduzimamo sledeća dva koraka kako biste bili u toku sa svim izmenama: (i) na vrhu navodimo datum kada je Politika privatnosti poslednji put ažurirana; (ii) kada vršimo materijalnu izmenu Politike privatnosti postavljamo vidljivu objavu o tim izmenama na naslovnoj strani Lokacije pred linka ka ovoj Politici privatnosti ili šaljemo poruku e-pošte&nbsp; svim korisnicima čije Podatke o ličnosti kompanija APA (ili odgovarajuća poslovna jedinica) ima. Vaše korišćenje Lokacije nakon objavljivanja revidirane Politike privatnosti će se smatrati prihvatanjem revidirane politike pa preporučujemo da periodično pregledate Politiku privatnosti.</p>
                    </div>
                </div>
            </div>
            {% include 'copyright.html.twig' %}
        </div>
    </section>

{% endblock body %}
