{% extends 'layout.html.twig' %}
{% block body_class %}rules-page{% endblock body_class %}
{% block body %}

   {% include 'nav.html.twig' %}

    <section class="section section--inner section--inner-rules">
        <div class="container">
            <div class="row">
                <div class="col-10 mx-auto text-center">
                    <div class="staropramen-piknik">
                       <img src="{{ asset('assets/images/sutiraj.png') }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 mx-auto">
                    <div class="content content--black-bg">
                        <p class="text-center"><strong>PRAVILA NAGRADNOG KONKURSA</strong></p>
                        <p><strong>PRAVILA NAGRADNOG KONKURSA „ŠUTIRAJ PENALE“</strong></p>

                        <p>
                            Pažljivo pročitajte Pravila nagradnog konkursa („Pravila“). Prijavom na nagradni konkurs (kako je definisano u nastavku), saglasni ste sa pravilima i uslovima učešća na ovom konkursu.
                        </p>

                        <p><strong>1. Opšte odredbe</strong></p>

                        <p>
                            1.1.  Organizator nagradnog konkursa je Apatinska pivara Apatin d.o.o. iz Apatina, Trg Oslobođenja 5, matični broj 08045577 (dalje: Organizator, Apatinska pivara ili APA).
                        </p>

                        <p>
                            Organizator je doneo odluku o organizovanju nagradnog konkursa kojim će se nagraditi najbolji učesnici konkursa pod nazivom „ŠUTIRAJ PENALE“ (u daljem tekstu „Konkurs“), a koji će se sprovesti po ovde utvrđenim i definisanim Pravilima. 
                        </p>

                        <p>1.2. Naziv konkursa je <strong>„ŠUTIRAJ PENALE“</strong></p>

                        <p>
                            1.3. Konkurs počinje 8.04.2021. godine u 08:00h i završava se 19.05.2021. u 23:59h (u daljem tekstu: „Period trajanja konkursa“). Nakon isteka Perioda trajanja Konkursa, učesnici neće biti u mogućnosti da učestvuju u Konkursu na način bliže opisan u tački 5.3 ovih Pravila. 
                        </p>

                        <p>
                            1.4. Konkurs se organizuje u svrhu promocije proizvoda Organizatora i to piva robne marke Jelen. Organizator je ovlašćeni korisnik zaštićenog žiga Jelen.
                        </p>

                        <p>
                            1.5. Konkurs se organizuje i sprovodi putem web sajta <a href="https://jelennagrađuje.rs/">www.jelennagrađuje.rs</a>.
                        </p>

                        <p>
                            1.6. Proglašenje dobitnika Konkursa će biti izvršeno na način i u rokovima propisanim u Pravilima. 
                        </p>

                        <p>
                            1.7. Konkurs se organizuje na teritoriji Republike Srbije, izuzev teritorije AP Kosova i Metohije.
                        </p>

                        <p>
                            1.8. Konkurs se organizuje u prodajnim mestima Delhaize sistema, i to u svim prodavnicama Tempo, Maxi i Shop&Go kao i na online shop-u Maxi (dalje: objekti Delhaize).  
                        </p>

                        <p>
                            1.9. Predmet konkursa je igrica koji se organzuje na web sajtu <a href="https://jelennagrađuje.rs/">www.jelennagrađuje.rs</a> sa mehanizmom opisanim u tački 5. ovog Pravilnika. 
                        </p>
                        
                        <p><strong>2. Pravo učešća u Konkursu</strong></p>

                        <p>2.1. Pravo učešća u konkursu imaju sledeća lica: državljani Republike Srbije sa prebivalištem na teritoriji Republike Srbije koji su stariji od 18 godina.</p>
                    
                        <p>2.2. Pravo učešća u konkursu nemaju sledeća lica:</p>

                        <p>2.2.1. Lica koja su u stalnom radnom odnosu ili su po drugom pravnom osnovu angažovana na radu kod Organizatora, kao ni njihovi bračni drugovi, roditelji i deca (u daljem tekstu: članovi najuže porodice); </p>
                        
                        <p>
                            2.2.2. Lica koja su u stalnom radnom odnosu ili su po drugom osnovu angažovana kod pravnih i/ili fizičkih lica koja na bilo koji način učestvuju u organizovanju ili realizaciji konkursa i/ili imaju pristup podacima vezanim za priređivanje konkursa, kao ni njihovi bračni drugovi, roditelji i deca. 
                        </p>

                        <p>
                            2.2.3. Maloletna lica, te u skladu sa svim gore navedenim Organizator zadržava pravo da traži proveru ispunjenosti ovog uslova i da u skladu sa tim ne dozvoli učešće na konkursu.
                        </p>

                        <p>
                            <strong>3. Prodajna mesta u kojim se mogu kupiti proizvodi koji učestvuju u ovom nagradnom konkursu su</strong> prodajni objekti Delhaize sistema, formata Tempo, Maxi i Shop&Go, na teritoriji cele Republike Srbije, izuzev teritorije AP Kosova i Metohije u naznačenom periodu iz člana 1.3 ovog Pravilnika, kao i online shop Maxi.
                        </p>

                        <p><strong>4. Trajanje Konkursa </strong></p>

                        <p>
                            4.1. Konkurs počinje 08.04.2021. godine u 08:00h i završava se 19.05.2021. u 23:59h; 
                        </p>

                        <p>
                            4.2. Nakon završetka Konkursa, biće objavljena konačna rang lista dobitnika (dalje: „konačna lista Dobitnika“ ili „Dobitnici nagrada“) tj. lica koja su osvojila nagrade (dalje: „Dobitnik“ ili „Dobitnici“), a na način i pod uslovima definisanim u članu 6. Pravila. 
                        </p>

                        <p>
                            <strong>5. Mehanizam konkursa </strong>
                        </p>

                        <p>
                            5.1. Pravila nagradnog konkursa će biti objavljena na web sajtu <a href="https://jelennagrađuje.rs/">www.jelennagrađuje.rs</a>.
                        </p>

                        <p>
                            5.2. Uslov za učestvovanje u Konkursu je kupovina najmanje 4 bilo koja Jelen pivo proizvoda u toku trajanja konkursa, koja se moraju naći na jednom fiskalnom računu, na prodajnim mestima iz tačke 3. ovih pravila, kao i sačuvan fiskalni račun kao dokaz o kupovini.
                        </p>

                        <p>
                            5.3. Detaljan opis mehanizma Konkursa je sledeći:
                        </p>

                        <p>
                            Kupovinom najmanje 4 bilo koja Jelen pivo proizvoda (dalje: Jelen pivo) u prodajnim objektima Delhaize definisanim u tački 3. ovih pravila, na dodatku fiskalnog računa se dobija kod koji predstavlja uslov za  učešće  u ovom konkursu. Jedan račun sa kupovinom minimum 4 bilo koja Jelen pivo proizvoda sa sobom nosi samo jedan kod na dodatku računa (nefiskalnom isečku), neophodan za učešće u Konkursu. Učesnik može sa jednim kodom učestvovati samo jednom u ovom Konkursu. Učesnik sa više kodova može učestvovati u Konkursu onoliko puta koliko kodova je sakupio.
                        </p>

                        <p>
                            Konkurs se organizuje i sprovodi putem web sajta <a href="https://jelennagrađuje.rs/">www.jelennagrađuje.rs</a>
                        </p>

                        <p>
                            Kod dobijen na dodatku računa (nefiskalnom isečku) Učesnik unosi u polje predviđeno za kod i tako otpočinje igricu. Igrica je „šutiranje penala“ u kojoj učesnik šutira loptu na gol.
                        </p>

                        <p>
                            <strong>Pravila igrice i način rangiranja učesnika su sledeći:</strong>
                        </p>

                        <ul>
                            <li>Potreban je unos koda za učešče u igri, pri čemu svaki kod donosi pravo na jednu igru;</li>
                            <li>Učesnik u okviru jedne igre ima pravo na ukupno 15 šuteva na gol;</li>
                            <li>Učesniku koji je sakupio nekoliko kodova i odigrao nekoliko igara, u ukupan rezultat sabiraju se svi postignuti golovi u svim igrama;</li>
                            <li>Ne postoji ograničenje u maksimalnom broju igara koje učesnik može odigrati; </li>
                            <li>Osnovni kriterijum za rangiranje učesnika je ukupan broj postignutih golova;</li>
                            <li>Ukoliko ima dva ili više učesnika sa istim brojem postignutih golova, prvi sledeći kriterijum rangiranja koji će se primenjivati jeste broj odigranih igara, pri čemu će prednost imati oni učesnici koji su postigli isti broj golova u manje odigranih igara;</li>
                            <li>Ukoliko ima dva ili više učesnika sa istim brojem golova, postignutih u istom broju igara, sledeći kriterijum koji će se primenjivati jeste ukupno vreme trajanja svih igara, pri čemu će prednost imati oni učesnici koji su postigli isti broj golova u istom broju igara, ali za kraće vreme.</li>
                        </ul>

                        <p>
                            <strong>
                               Ukoliko ima dva ili više učesnika sa istim brojem golova, postignutih u istom broju igara, sledeći kriterijum koji će se primenjivati jeste ukupno vreme trajanja svih igara, pri čemu će prednost imati oni učesnici koji su postigli isti broj golova u istom broju igara, ali za kraće vreme.
                            </strong>
                        </p>

                        <p>
                            Na web stranici <a href="https://jelennagrađuje.rs/">www.jelennagrađuje.rs</a> će sve vreme trajanja nagradnog konkursa biti dostupna aktuelna rang lista.
                        </p>

                        <p>
                            Konačna rang lista Dobitnika Konkursa će biti objavljena nakon završetka Konkursa na web sajtu <a href="https://jelennagrađuje.rs/">www.jelennagrađuje.rs</a>, najkasnije u roku od 15 radnih dana od dana završetka Konkursa. Ova lista će se zvati „Dobitnici nagrada“ i ova lista je jedina merodavna za  priznavanje prava na nagradu.
                        </p>

                        <p>
                            Organizator zadržava pravo da ne objavi rang listu ukoliko dođe do tehničkih problema, a istu će objaviti čim se stvore uslovi, odnosno uklone nastali problemi za formiranje aktuelne/konačne rang liste.
                        </p>

                        <p>
                            Organizator ima pravo da odloži objavu Dobitnika, odnosno Dobitnika iz opravdanih razloga, kao i u slučaju da rok za objavu dospeva na neradan dan. 
                        </p>

                        <p>
                            Pored konačne rang liste Dobitnika, Organizator ima obavezu da formira i rezervnu listu dobitnika sa koje će se dopunjavati imena dobitnika ukoliko neko od dobitnika sa konačne rang liste ne bude ispunjavao neki od neophodnih uslova za učestvovanje u Konkursu/ ostvarivanje prava na nagradu, koji su definisani ovim Pravilima, ukoliko ne želi da preuzme svoju nagradu ili je zbog bilo kog drugog razloga diskvalifikovan.  Kriterijum za rezervnu listu je takođe broj ostvarenih bodova, au slučaju više učesnika sa istim brojem bodova - vreme za koje ih je učesnik ostvario.
                        </p>

                        <p>
                            5.5. Učesnici su dužni da sačuvaju svoje fiskalne račune, koje su dobili prilikom kupovine i ostvarili kod za učešće u konkursu. 
                        </p>

                        <p>
                            Za ostvarivanje prava na glavnu nagradu je neophodno prikazati Organizatoru fiskalni račun, ukoliko Organizator to zahteva.
                        </p>

                        <p>
                            <strong>6. Vrste i dodela nagrada </strong>
                        </p>

                        <p>Pregled nagrada, broj i redosled je sledeći:</p>

                        <ul>
                            <li>Glavna nagrada – 10 x JBL party box zvučnik</li>
                            <li>20 x baštenski roštilj </li>
                            <li>100 x Cooler bag</li>
                            <li>400 x Roštiljski set</li>
                            <li>1000 x Jelen majica</li>
                        </ul>

                        <p>
                            Ukupan broj vrsta nagrada: 5 vrsta nagrada<br>
                            Ukupan broj dobitnika nagrada: 1.530
                        </p>

                        <p>
                            Nagrade ne mogu biti zamenjene za novac. Jedan dobitnik može osvojiti samo jednu nagradu.
                        </p>

                        <p>
                            <i>*U slučaju nemogućnosti isporuke navedenog modela zvučnika u trenutku dodele nagrada, Organizator zadržava pravo da isti zameni modelom istih ili sličnih specifikacija, kvaliteta i vrednosti.  </i>
                        </p>

                        <p>
                            <strong>7. Način i rok predaje nagrada </strong>
                        </p>

                        <p>
                            7.1. Nagrade će biti poslate na kućne adrese dobitnika, nekom od poštanskih/kurirskih službi, koja će kontaktirati dobitnike nagrada. Organizator ne snosi odgovornost u slučaju da kurirska služba ne može da stupi u kontakt sa bilo kojim od Dobitnika, odnosno Dobitnika glavne nagrade, iz razloga koji ne spadaju u odgovornost Organizatora ili ukoliko im se ne može da dostaviti nagrada u roku od 15 radnih dana od objave konačne rang liste dobitnika. Nakon ovog perioda, Organizator nije u obavezi da uruči nagradu Dobitniku. 
                        </p>

                        <p>
                            7.2. Prilikom dostavljanja nagrade, Dobitnik će se legitimisati odgovarajućom ličnom ispravom (lična karta ili pasoš), prikazati fiskalni račun (fiskalni dodatak) kao dokaz kupovine proizvoda - Dobitnik će popuniti i potpisati odgovarajući formular o prijemu nagrade, prilikom preuzimanja iste. 
                        </p>

                        <p>
                            7.3. Ukoliko je iz ličnog dokumenta vidljivo da potencijalni Dobitnik nije državljanin Republike Srbije, nema prebivalište na teritoriji Republike Srbije ili da nije punoletan, ili  ukoliko postupi suprotno definisanim obavezama iz tačke 7.1 i 7.2. ili nije u mogućnosti da preuzme nagradu, Organizator nije u obavezi da mu dodeli nagradu i ista će se dodeliti prvom sledećem sa liste dobitnika, odnosno rezervne liste dobitnika ukoliko je to neophodno u skladu sa članom 5.4. 
                        </p>

                        <p>
                            7.4. Nagrada je neprenosiva i može je iskoristiti samo Dobitnik nagrade. Nagrada se ne može preneti na treća lica, uključujući, a ne ograničavajući se na članove najuže porodice Dobitnika nagrade. 
                        </p>

                        <p>
                            7.5. Organizator snosi sve troškove dostave nagrada svim Dobitnicima konkursa, prema konačnoj rang listi Dobitnika objavljenoj na način koji je naveden u ovim Pravilima.
                        </p>

                        <p>
                            <strong>8. Lični podaci </strong>
                        </p>

                        <p>
                            8.1. Lica koja se saglase sa ovim Pravilima pristaje da Organizator obrađuje njegove lične podatke, u toku trajanja konkursa kako je opisano u ovim Pravilima  u skladu sa Zakonom o zaštiti podataka o ličnosti ("Sl. glasnik RS", br. 87/2018) („Zakon“).
                        </p>

                        <p>
                            8.2. Kategorija lica na koje se lični podaci odnose su: Učesnici i Dobitnici.
                        </p>

                        <p>
                            8.3. Podaci o ličnosti Učesnika Konkursa: ime i prezime, datum rođenja, broj telefona, adresa, datum i mesto kupovine proizvoda Jelen, kao i kod sa fiskalnog računa će biti prikupljeni, obrađeni i korišćeni od strane Organizatora za potrebe organizovanja Konkursa odnosno nagrađivanja učesnika u nagradnom konkursu.
                        </p>

                        <p>
                            8.4. Podaci o ličnosti Učesnika: ime i prezime će se objavljivati na web sajtu <a href="https://jelennagrađuje.rs/">www.jelennagrađuje.rs</a> kroz aktuelne rang liste koje čine presek do tada ostvarenih bodova i vremena za koje je svaki učesnik ostvario bodove, sve u cilju organizovanja Konkursa odnosno nagrađivanja učesnika u nagradnom konkursu.
                        </p>

                        <p>
                            8.5 Podaci o ličnosti Dobitnika Konkursa: ime i prezime, broj telefona, adresa, datum i mesto kupovine proizvoda Jelen, kod sa fiskalnog računa, datum rođenja i državljanstvo će biti prikupljeni, obrađeni i korišćeni od strane Organizatora za potrebe organizovanja Konkursa odnosno nagrađivanja učesnika u nagradnom konkursu.
                        </p>

                        <p>
                            8.6. Podaci o ličnosti Dobitnika konkursa: ime i prezime će se objavljivati na web sajtu <a href="https://jelennagrađuje.rs/">www.jelennagrađuje.rs</a> u cilju organizovanja Konkursa, odnosno nagrađivanja učesnika u nagradnom konkursu 
                        </p>

                        <p>
                            8.7. Lični podaci Učesnika i Dobitnika će se čuvati za vreme trajanja Konkursa, kao i nakon Konkursa a do dodele nagrada dobitnicima, odnosno rezervnim dobitnicima ukoliko za tim bude potrebe.
                        </p>

                        <p>
                            8.8. Na osnovu člana 23 Zakona svako lice koje učestvuje na Konkurs ima pravo da zahteva obaveštenje, stavljanje na uvid i/ili kopiju podataka koji se odnose njega i sva prava na osnovu uvida (ispravka, brisanje i drugo), kao i pravo da pristanak na obradu opozove u svakom trenutku tako što će poslati pisani zahtev na email adresu Organizatora <a href="mailto:info.apa@apa.rs">info.apa@apa.rs</a>. U  slučaju opoziva lični podaci tog Učesnika se brišu, a nakon podnošenja zahteva za opoziv taj Učesnik  gubi pravo na dalje učešće na Konkursu. U slučaju nedozvoljene obrade ličnih posataka svaki Učesnik ostvaruje svoja prava u skladu sa pravnim propisima Republike Srbije. 
                        </p>

                        <p>
                            <strong>9. Diskvalifikacija iz programa i odgovornost učesnika</strong>
                        </p>

                        <p>
                            9.1. Korišćenje bilo kakve vrste kompjuterskog koda, virusa, ili bilo čega što može ometati, onemogućiti, naneti štetu, ili predstavljati zloupotrebu je zabranjeno. Takvi postupci mogu dovesti do eliminacije Učesnika iz konkursa. Organizator zadržava pravo da ih diskvalifikuje iz konkursa i zanemari njihove ostvarene rezultate bez daljeg obrazloženja.
                        </p>

                        <p>
                            9.2. U slučaju osnovane sumnje da je učesnik prevarnim radnjama pokušao da osvoji neku od nagrada i na taj način ostvari imovinsku korist sebi ili drugim učesnicima, Organizator zadržava pravo da pokrene odgovarajuće postupke pred nadležnim organima u skladu sa zakonskim propisima Republike Srbije.
                        </p>

                        <p>
                            <strong>10. Isključenje i ograničenje odgovornosti </strong>
                        </p>

                        <p>
                            10.1. Organizator ne odgovara za štetu koju pretrpi Dobitnik, a koja je prouzrokovna isključivom radnjom tog lica, kao i radnjama trećih lica za koje Ogranizator ne odgovara. 
                        </p>

                        <p>
                            <strong>11. Završne odredbe </strong>
                        </p>

                        <p>
                            11.1. Učesnici mogu postavljati pitanja u vezi sa konkursom u okviru Facebook stranice Jelen <a href="https://www.facebook.com/JelenPivo/" target="_blank">https://www.facebook.com/JelenPivo/</a>
                        </p>

                        <p>
                            11.2. Organizator će Učesniku koji je poslao upit na način opisan u članu 11.1. Pravila dostaviti odgovor putem Facebook stranice organizatora javno ili u vidu privatne poruke u roku od najviše 5 (pet) radnih dana. 
                        </p>

                        <p>
                            11.3. Konkurs se može prekinuti u slučaju da nastupe okolnosti za koje Organizator nije odgovoran, odnosno koje nije mogao predvideti, sprečiti, otkloniti ili izbeći, a koje bitno utiču na sprovođenje i realizaciju konkursa. 
                        </p>

                        <p>
                            11.4. Učesnici će o eventualnom prekidu programa biti obavešteni putem Jelen pivo Facebook stranice <a href="https://www.facebook.com/JelenPivo/" target="_blank">https://www.facebook.com/JelenPivo/</a> ili web sajta <a href="https://jelennagrađuje.rs/">www.jelennagrađuje.rs</a>
                        </p>

                        <p>
                            11.5. Apatinska pivara obaveštava sve učesnike na ovom konkursu da isti ima isključivo zabavni karakter.
                        </p>

                        <p>
                            Kompanija Facebook ni na koji način nije uključena u pripremu i realizaciju ovog Konkursa i ne snosi nikakvu odgovornost za njega.
                        </p>

                        <p>
                            Prijavom za učestvovanje na ovom konkursu svaki Učesnik potvrđuje da je upoznat/a sa pravom Organizatora da pri realizaciji ovog konkursa ne prihvati ili ukloni sve komentare, tekstove, zapise, fotografije i druge materijale koje po svom nahođenju smatra neprihvatljivim, zbog toga što nisu u skladu sa propisima ili nisu u skladu sa pozitivnim vrednostima koje Apatinska pivara promoviše (biće uklonjene poruke koje se dovode u vezu sa: nasiljem, stavljanjem maloletnih lica u vezu sa alkoholom, povezivanjem alkohola i vožnje, pozivanjem na nasilje, nacionalnu, versku, rasnu ili bilo koju drugu vrstu netrpeljivosti i koje nisu u skladu sa internom politikom promovisanja brenda – dovođenje brenda u lošu konotaciju, itd.).
                        </p>

                        <p>
                            11.6. U slučaju spora između Organizatora i učesnika/dobitnika nadležan je sud u Somboru.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% include 'copyright.html.twig' %}
    </section>

{% endblock body %}
