{% extends 'layout.html.twig' %}
{% block body_class %}top-list-page{% endblock body_class %}
{% block body %}

    {% include 'nav.html.twig' %}

    <section class="section section--inner section--inner-rules">
        <div class="container vh-100--inner">
            <div class="row">
                <div class="col-10 mx-auto text-center">
                    <div class="staropramen-piknik">
                       <img src="{{ asset('assets/images/sutiraj.png') }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 mx-auto">
                    <div class="content content--black-bg">
                        <div class="heading text-center">
    {#                        {% if endDate %}#}
    {#                            Nagradni konkurs je završen. Konačna rang lista će biti naknadno objavljena.#}
    {#                        {% elseif finished %}#}
    {#                            Konačna rang lista Dobitnika Konkursa.#}
    {#                        {% else %}#}
    {#                            RANG LISTA#}
    {#                        {% endif %}#}
                            <h4>KONAČNA RANG LISTA DOBITNIKA</h4>
                            <small>Nagrade će biti poslate na kućne adrese dobitnika, nekom od poštanskih/kurirskih službi, koja će kontaktirati dobitnike nagrada.</small>
                        </div>
                        <div class="rang-lista">
                            <table class="table table--rang-lista">
                                <thead>
                                <tr>
                                    <th scope="col">R. br</th>
                                    <th scope="col">Ime i prezime</th>
                                    <th scope="col">Br. Golova</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for member in pagination %}
                                    <tr>
                                        <th scope="row">{{ pagination.getPaginationData.firstItemNumber + loop.index - 1 }}</th>
                                        <td>{{ member.firstName }} {{ member.lastName }}</td>
                                        <td>{{ member.goals }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                    {% if pagination.totalItemCount() > itemPerPage %}
                    <div class="pagination">
                        {{ knp_pagination_render(pagination, 'pagination.html.twig') }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
         {% include 'copyright.html.twig' %}
    </section>
{% endblock body %}
