{% extends 'layout.html.twig' %}
{% block body_class %}game-intro-page{% endblock body_class %}
{% block body %}

   {% include 'nav.html.twig' %}

    <section class="section section--intro section--intro-splash">
        <div class="container vh-100--inner">
            <div class="row">
                <div class="col-12 col-md-8 mx-auto text-center">
                    <div class="content content--game-rules">
                        <a href="{{ path('game') }}"><img src="{{ asset('assets/images/start.svg') }}"></a>
                    </div>
                </div>
            </div>
           
        </div>
        {% include 'copyright.html.twig' %}
    </section>
    
{% endblock body %}



