{% extends 'layout.html.twig' %}

{% block body_class %}game-intro-page{% endblock body_class %}
{% block body %}

    <section class="section section--intro">
        <div class="container vh-100--inner">
            <div class="row row--bottom text-center">
                <div class="col-12">
                    <a href="{{ path('game') }}" class="btn btn--red">START</a>
                </div>
            </div>
        </div>
        {% include 'copyright.html.twig' %}
    </section>


{% endblock body %}

{% block javascripts %}
{% endblock javascripts %}
