{% extends 'layout.html.twig' %}

{% block bodyId %}game{% endblock %}

{% block headerstyle %}
    <link rel="stylesheet" href="{{ asset('assets/game/css/minified.css') }}?ver={{ 'now'|date('YmdHis') }}"/>

    <link rel='shortcut icon' type='image/x-icon' href="{{ asset('assets/game/images/favicon.ico') }}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,minimal-ui"/>
    <meta name="msapplication-tap-highlight" content="no"/>
{% endblock headerstyle %}

{% block headerscript %}
    <script>
        CMS.data = {
            wsSrv: "{{ getenv('WS_SERVER') ~ ':' ~ getenv('WS_PORT') }}",
            hash: "{{ code }}"
        }
    </script>
{% endblock headerscript %}

{% block body %}
    <div id="game">
        <canvas id="canvas" class='ani_hack' width="1360" height="640"></canvas>
        <div data-orientation="landscape" class="orientation-msg-container">
            <p class="orientation-msg-text">Please rotate your device</p>
        </div>
        <div id="block_game" style="position: fixed; background-color: transparent; top: 0px; left: 0px; width: 100%; height: 100%; display:none"></div>
    </div>
    <div id="hideMe">
        {% include 'copyright-game.html.twig' %}
    </div>
{% endblock body %}

{% block javascripts %}
    <script src="{{ absolute_url(asset('assets/game/js/game-minified.js')) }}?ver={{ 'now'|date('YmdHis') }}"></script>
{% endblock javascripts %}