@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.container {
    max-width: 960px !important;
}

img {
    max-width: 100%;
}

body {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    overflow-x: hidden;
}

body.intro {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body.game-intro-page {
     background: url(../images/bg-game-intro.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body.age-gate-page {
    background: url(../images/age-gate.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.copyright-icons {
    display: block;
    margin-bottom: 4px;
}

.copyright-icons svg {
    fill: #000;
}

body.age-gate-page .copyright-icons svg {
    fill: #FDD106;
}

body.age-gate-page .copyright {
    background-color: transparent;
    border-top: 0;
}

body.age-gate-page .copyright,
body.age-gate-page .copyright a {
    color: #fff;
}

body,
html {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
.btn {
    font-family: 'Montserrat', sans-serif;
}

.alert {
    padding: 0;
    margin: 0;
    color: red;
}

.form-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 24px;
}

.staropramen-logo {
    margin-bottom: 14px;
}

.staropramen-logo--piknik {
    margin-top: 32px;
}

.logos--age-gate {
    margin-bottom: 36px;
}

.section--age-gate {
    height: 100vh;
    /* background-color: #234333; */
    color: #fff;
    position: relative;
}

.section--game {
    min-height: 100vh;
    height: 100%;
    background-color: rgba(13, 62, 141, 0.9);
    color: #fff;
    position: relative;
}

.content--game {
    width: 350px;
    height: 600px;
    border-radius: 50px;
    background-color: #82A8D1;
    padding: 15px;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.16), 0 14px 22px 0 rgba(0,0,0,0.18), inset 0 -5px 9px 0 rgba(0,0,0,0.08);
}

.game {
    border-radius: 40px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url(../images/game-bg.jpg);
    background-size: 100% 100%;
    position: relative;
}

.game-header {
    height: 40px;
    background-color: #234333;
    color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
}

.game-content {
    padding-top: 56px;
}

.game-content * {
    box-sizing: content-box;
}

.game-meta {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
}

.game-meta span {
    display: inline-flex;
    /* margin-left: auto; */
}
.game-meta .col {
    display: flex;
    align-items: right;
    justify-content: right;
}


.lives-remaining li {
    margin: 0 1px;
    width: 20px;
    height: 20px;
    float: left;
    position:relative;
}

.lives-remaining li:after {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #07327C;
    z-index: 1;
}

.lives-remaining {
    height: 20px;
}

.lives-remaining li.active img {
    display: inline-block;
    z-index: 2;
    position: relative;
}

.lives-remaining li img {
    display: none;
}

.lives-remaining {
    font-size: 0;
}

.game-info--end {
    padding: 68px 14px 8px 14px;
}

.game-info--end h3 {
    margin: 0;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
}

.end-label {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 8px;
}

.end-value {
    font-size: 32px;
    line-height: 45px;
    color: #E6220B;
}

.white-box {
    background-color: rgba(255, 244, 206, 0.8);
    color: #234333;
    padding: 16px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.white-box .col {
    padding: 0 !important;
}

.game-info--end .btn {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    line-height: 44px;
}

.white-box .col:first-child {
    border-right: 1px solid #234333;
}

.game--intro__title {
    width: 190px;
    margin-bottom: 34px;
}

.game--intro {
    padding-top: 40px;
}

.game-header__inner {
    width: 100%;
    height: 60px;
    position: relative;
}

.header-item--time {
    position: absolute;
    right: 0;
    top: 2px;
}

.header-item__label {
    font-size: 10px;
    line-height: 15px;
}

.header-item--points {
    position: absolute;
    top: 2px;
    right: 50px;
}

.game-info {
    background-color: rgba(255, 255, 255, 0.85);
    margin: 68px 14px 8px 14px;
    font-size: 16px;
    color: #0E3F8D;
    padding: 16px 16px 42px 16px;
}

.game-info p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.can-wrapper {
    text-align: center;
}

.can-wrapper .game--intro__can {
    width: 98px;
    margin-bottom: 34px;
}

.game .btn {
    max-width: 268px;
    height: 42px;
    line-height: 42px;
}

.game-info__points {
    margin: 16px 0 24px 0;
}

.start_game_btn_holder {
    margin-top: 16px;
}

.game-info__points img {
    max-width: 230px;
    max-height: 175px;
    margin-bottom: 0;
}

.lives-remaining {
    padding: 0;
    margin: 0;
}

.header-item--lives {
    width: 115px;
    margin-top: 5px;
}

.header-title {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 85px;
}


.header-item__content {
    font-size: 18px;
    line-height: 18px;
}

.lives-remaining li {
    display: inline-block;
}

.table--rang-lista,
.table--rang-lista thead,
.table--rang-lista thead th {
    border-top: 0;
    color: #fff;
}

.table--rang-lista thead {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #fff;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #fff;
}

.pagination {
    margin: 24px 0;
}

.pagination ul {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    font-size: 0;
}

.pagination ul li {
    display: inline-block;
    margin: 0 2px;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    background-color: rgba(255, 244, 206, .8);
    font-size: 20px;
    float: left;
}

.pagination ul li a {
    color: #234333;
    text-decoration: none;
}

.pagination ul li.current {
    background-color: #234333;
}

.pagination ul li.current a {
    color: #fff;
}

.pagination-arrow {
    position: relative;
}

.pagination-arrow a,
.pagination-arrow img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.section {
    position: relative;
    height: 100vh;
}

.section--inner-code,
.section--inner-prizes {
    height: 100vh !important;
}

.section--inner-code .staropramen-piknik,
.section--inner-register .staropramen-piknik,
.section--inner-prizes .staropramen-piknik,
.section--inner-rules .staropramen-piknik {
    margin-bottom: 50px;
}

.staropramen-piknik img {
    max-width: 300px;
}

.section--inner-code,
.section--intro-splash,
.section--age-gate,
.content--age-gate,
.section--inner-prizes,
.section--inner-register {
    min-height: 650px;
}

/* .section--inner p.copyright,
.section--intro p.copyright,
.section--inner p.copyright a,
.section--intro p.copyright a {
    color: #0D3E8D;
} */

div.copyright {
    position: fixed;
    bottom: 0;
    font-size: 12px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    height: 85px;
    background-color: #FFD200;
    border-top: 2px solid #fff;
    padding-top: 10px;
}

div.copyright--game {
    padding: 5px;
    height: auto;
}

.intro-img {
    margin-top: 20px;
}

.intro-info {
    margin-top: 32px;
    background-color: rgba(0, 0, 0, 0.75 );
    color: #fff;
    padding: 8px 0;
    margin-bottom: 0;
}

.intro-info p {
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    margin-bottom: 0;
}

div.copyright p {
    margin-bottom: 0;
}

div.copyright a {
    color: #000;
    text-decoration: underline;
}

div.copyright--white {
    color: #FFF4CE;
    background-color: transparent;
}

div.copyright img {
    margin-top: -5px;
}

.rules-page div.copyright,
.top-list-page div.copyright,
.section--game-rules div.copyright {
    position: relative;
    margin-top: 32px;
}

.rules-page .section--inner,
.top-list-page .section--inner {
    padding-bottom: 0;
}

.content--age-gate {
    max-width: 460px;
    width: 100%;
    margin: 0 auto;
}

.form--age-gate select {
    background: transparent;
    color: #fff;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    border: 1px solid #FDD106;
    height: 60px;
}

.select-wrapper {
    position: relative;
}

.form--age-gate .form-control:focus {
    color: #fff;
    background-color: transparent;
    border: 1px solid #FDD106;
    outline: 0;
    box-shadow: none;
}

.form--age-gate .select-wrapper:after {
    content: '';
    width: 14px;
    height: 9px;
    position: absolute;
    right: 10px;
    z-index: 999;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url(../images/arrow-down.svg);
    background-size: 14px 9px;
}

.bavaria-leto {
    margin-bottom: 64px;
}

.bavaria-leto.bavaria-leto--blue {
    margin-bottom: 24px;
}

.content--age-gate h3 {
    font-size: 29px;
    line-height: 36px;
    margin-bottom: 8px;
    font-weight: 700;
}

.content--age-gate form {
    margin-bottom: 32px;
}

.content--age-gate p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 32px;
}

p.age-gate-info {
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    margin-top: 24px;
}

p.age-gate-info a {
    color: #fff;
    text-decoration: underline;
}

.content--game-rules h3 {
    text-transform: uppercase;
}

.content--game-rules .btn {
    margin-top: 24px;
    max-width: 285px;
}

p.cookies--txt {
    font-size: 14px;
    line-height: 23px;
    color: #FFF4CE;
}

.cookies--txt a {
    color: #FFF4CE;
    text-decoration: underline;
}

.btn--enter {
    background-color: #FDD106;
    color: #000;
    width: 100%;
    border-radius: 10px;
    height: 52px;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 24px;
    font-weight: 700;
}

.master-head {
    position: fixed;
    height: 64px;
    background-color: #FDD106;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.3s ease;
    border-bottom: 2px solid #fff;
}

.nav-item a {
    color: #040000;
}

.nav-item {
    opacity: 0.5;
    font-size: 16px;
    font-weight: 700;
}

.nav-link.active {
    opacity: 1;
}

.navbar-brand {
    padding: 0;
    margin-left: 32px;
    margin-right: 32px;
}

.navbar-brand img {
    width: 60px;
}

.navbar {
    padding: 0;
}

.section--inner {
    padding: 100px 0;
    height: auto;
}

.section--inner-rules {
    font-size: 16px;
    line-height: 30px;
}
.section--inner-rules p,
.section--inner-rules ol,
.section--inner-rules ul,
.section--inner-rules dl {
    margin-bottom: 24px;
}

.section--inner-rules a {
    color: inherit;
    text-decoration: underline;
}

.content--black-bg {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 16px 8px;
    color: #fff;
    border-radius: 5px;
}
.section--inner-rules .content--black-bg {
    padding: 16px;
}

.heading--white-bg {
    background-color: rgba(0, 0, 0, 0.75);;
    padding: 8px 16px;
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 16px;
    text-align: center;
}

.form input[type=text] {
    height: 50px;
    border: 1px solid #FDC93A;
    background-color: rgba(255,255,255, 0.1);
    color: #fff;
    border-radius: 5px;
}

.form.form--register input[type=text] {
    margin-bottom: 16px;
}

.form.form--register .form-group {
    margin-bottom: 0;
}

.form--register .btn {
    margin-top: 8px;
}

.can-wrapper img {
    width: auto;
    max-height: 460px;
}

.form {
    font-size: 16px;
    line-height: 30px;
    color: #fff;
}

.form label {
    text-transform: uppercase;
    margin-bottom: 0;
}
.form label.error {
    font-size: 12px;
    color: red;
    line-height: 16px;
}

.form .form-check label {
    font-size: 14px;
    line-height: 23px;
    text-transform: none;
}

.form .form-check {
    margin-bottom: 0;
}

.form input:focus {
    outline: none;
    color: #fff;
    box-shadow: none;
}

.form--code .btn {
    margin-bottom: 24px;
}

.vh-100--inner {
    min-height: calc(100vh - 200px);
}

.btn--beige {
    height: 64px;
    background-color: #F0CC6E;
    width: 100%;
    border-radius: 10px;
    font-size: 22px;
    line-height: 22px;
    color: #014426;
    text-transform: uppercase;
    padding: 0;
    line-height: 60px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.70);
}

.btn--red {
    background-color: #CD0A19;
    color: #fff;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    height: 52px;
    border-radius: 10px;
    width: 460px;
    max-width: 100%;
}

.btn--yellow {
    height: 52px;
    background-color: #FDC93A;
    width: 100%;
    border-radius: 10px;
    font-size: 28px;
    line-height: 28px;
    color: #000;
    text-transform: uppercase;
    padding: 0;
    line-height: 50px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.70);
    font-weight: 700;
}

/* .darkHeader {
    background-color: #FDC93A;
} */

.btn--red {
    height: 64px;
    background-color: #E02020;
    width: 100%;
    border-radius: 10px;
    font-size: 22px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    line-height: 64px;
}

.game-info--end .btn {
    font-size: 16px;
}

.section--intro  .intro-wrapper {
    padding: 32px 0 24px 0;
}

.section--intro .btn {
    width: 460px;
    max-width: 100%;
    margin-top: 24px;
}

.prize {
    margin-bottom: 16px;
}

.prize__name {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.navbar-brand--mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    display: block;
}

.navbar-toggler {
    position: absolute;
    right: 0;
    top: 14px;
    width: 32px;
    height: 22px;
    padding: 0;
    border: 0;
    border-radius: 0;
    z-index: 99999;
}

.navbar-toggler span {
    height: 2px;
    width: 100%;
    background-color: transparent;
    position: relative;
}

.navbar-toggler.collapsed span {
    background-color: #fff;
}

.navbar-toggler span:before,
.navbar-toggler span:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #fff;
    position: relative;
    display: block;
}

.navbar-toggler span:before {
    position: absolute;
    transform: rotate(45deg);
    top: 0;
}

.navbar-toggler.collapsed span:before {
    top: -8px;
    transform: rotate(0);
}

.navbar-toggler span:after {
    position: absolute;
    bottom: 0;
    transform: rotate(-45deg);
}

.navbar-toggler.collapsed span:after {
    bottom: -8px;
    transform: rotate(0);
}

.intro-game-img {
    max-height: 400px;
}

.in-game {
    margin: 0;
    padding: 0;
}

.in-game div.copyright img {
    margin-bottom: -10px;
}

.game-points span {
    color: #FDE07D;
}

.gametitle--style {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #234333;
}

.game-info--end {
    text-align: center;
}

.content--prizes {
    background-image: url(../images/bg-prizes.jpg);
    background-size: cover;
    background-position: left bottom;
    margin-bottom: 16px;
}

p.instructions-txt {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #FFF4C7;
}

.intro-bottom {
    margin-top: 48px;
}

.intro-bottom h3 {
    font-size: 16px;
    line-height: 24px;
    color: #FFF4CE;
    margin-bottom: 8px;
}

.intro-bottom p {
    font-size: 12px;
    line-height: 18px;
    color: #FFF4CE;
    margin-bottom: 32px;
    width: 100%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.uppercase {
    text-transform: uppercase;
}
.content--game-rules {
    height: calc(100vh - 200px);
    position: relative;
}

.content--game-rules a {
    position: relative;
    display: block;
    top: calc( 100% - 100px );
}
.content--game-rules p {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.section--game-rules {
    padding-bottom: 0;
}

.intro-mobile {
    display: none;
}

@media(min-width: 992px){

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .75rem;
        padding-left: .75rem;
    }

    .navbar-brand--mobile {
        display: none;
    }
}

@media(max-width: 1280px){
    .into-img {
        max-width: 500px;
    }
}

@media(max-width: 991px){
    .copyright {
        padding: 0 10px;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #FDD106;
        padding-top: 150px;
    }

    .navbar-collapse a {
        font-size: 22px;
    }

    .navbar-collapse .navbar-brand {
        display: none;
    }
    
    .navbar-collapse ul {
        text-align: center;
    }

    .master-head {
        height: 60px;
    }

    .navbar-brand img {
        width: 55px;
    }
}

@media(max-width: 767px){

    .bavaria-leto {
        margin-bottom: 40px;
        margin-top: 24px;
    }

    .bavaria-leto img {
        max-width: 177px;
    }

    .right-col-with-can {
        position: fixed;
        right: -50%;
        top: 205px;
        z-index: -1;
        height: 400px;
    }

    .into-img {
        max-width: 340px;
        width: 100%;
    }

    .content--age-gate h3 {
        font-size: 22px;
        line-height: 29px;
    }

    .content--age-gate p {
        font-size: 16px;
        line-height: 26px;
    }

    .form--age-gate select {
        height: 50px;
    }

    .section--age-gate,
    .content--age-gate {
        min-height: 750px;
    }

    .content--game {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        max-width: 100%;
    }

    .section--game {
        background-color: transparent;
    }

    .game {
        background-image: none;
        border-radius: 0;
    }

    .prize__img {
        text-align: center;
    }

    .prize__img img {
        width: 116px;
        margin-bottom: 15px;
    }

    .prize {
        margin-bottom: 8px;
    }

    .table--rang-lista {
        font-size: 12px;
    }

    .in-game header {
        display: none;
    }
    
    .in-game .game-header {
        position: fixed;
    }

    .in-game .copyright {
        display: none;
    }

    .content--game {
        width: 100%;
        height: 100vh;
        overflow: auto;
        margin-top: 0 !important;
        padding-top: 0;
    }

    .section--game {
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 0 !important;
        padding-top: 0;
    }

    .game-info {
        padding-top: 30px;
        margin-top: 0;
        margin: 0 !important;
        border-radius: 0;
    }

    .content--game {
        padding-top: 130px;
        padding-left: 0;
        padding-right: 0;
    }

    .game-info--end .btn {
        font-size: 12px;
    }

    .game-info--end {
        padding: 68px 0 8px 0;
    }

    .white-box {
        padding: 10px;
    }

    .section--game .container {
        padding: 0 !important;
    }

    .section--inner-code,
    .section--intro-splash,
    .section--age-gate,
    .content--age-gate {
        min-height: auto;
        height: auto;
    }

    .section--age-gate .vh-100--inner,
    .section--intro-splash .vh-100--inner {
        height: auto;
    }

    .intro-mobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .intro-desktop {
        display: none;
    }
}

@media(max-height: 820px) and (min-width: 768px){
    .section--game {
        min-height: 710px;
        margin-top: 60px;
        padding-top: 10px;
        padding-bottom: 60px;
        height: calc(100vh + 10px);
    }
}

@media(max-height: 700px) and (max-width: 767px){
    
    .content--game,
    .game-info {
        padding-top: 70px !important;
    }

    .section--inner-register .vh-100--inner {
        height: 100%;
    }
}

@media(max-height: 630px) and (max-width: 767px){
    .content--game {
        min-height: 630px;
    }
}

@media(max-height: 820px){

    /* .section--inner-prizes,
    .section--inner-register {
        margin-bottom: 100px;
    } */

    .section--game .my-auto {
        margin: 0 !important;
    }

    .can-wrapper img {
        width: auto;
        max-height: 360px;
    }

    .section--inner-register {
        min-height: 100%;
    }

    .code-page .copyright,
    .prizes-page .copyright,
    .registration-page .copyright,
    .rules-page .copyright,
    .top-list-page .copyright,
    .game-rules-page .copyright,
    .age-gate-page .copyright {
        position: relative;
        margin-top: 32px;
        line-height: 20px;
        height: 85px;
    }

    .game-rules-page .vh-100--inner,
    .intro .vh-100--inner {
        min-height: 100%;
    }

    .section--inner {
        padding: 100px 0 0 0;
    }

}

.none {
    display: none;
}

#cookieAcceptBar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FDD106;
    color: #000;
    padding: 20px 0;
}
#cookieAcceptBar a {
    color: #000;
    text-decoration: underline;
}

#cookieAcceptBar p {
    font-size: 14px;
}

#cookieAcceptBar button {
    background-color: #000;
    color: #fff;
}

.card_holder .card {
    border: 0 !important;
    background: transparent !important;
}

select option {
    background: rgba(0, 0, 0, 0.3);
}

/* Modal */
.modal {
    background-color: rgba(35, 67, 51, 0.8);
}

.modal-content {
    background-color: rgb(35, 67, 51);
    color: #fff;
    text-align: center;
}

.modal-title {
    text-align: center;
    width: 100%;
}

.modal-header,
.modal-footer {
    border: 0;
    text-align: center;
}

.modal-footer .btn {
    margin: auto;
}

.modal-body {
    padding: 20px 40px;
}

.row--bottom {
        position: absolute;
        bottom: 130px;
        left: 0;
        right: 0;
}

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.other-logins {
    padding: 10px 0;
}
.other-logins h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
.btn--facebook,
.btn--google {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    border-radius: 10px;
}
.btn--facebook {
    background-color: #3b5998;
}
.btn--google {
    background-color: #ea4335;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
        opacity: 0;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
        opacity: 0;
    }
}

@media(max-width: 768px){
    .game-meta,
    .game-points,
    .game-meta .timer {
        font-size: 12px !important;
    }

    .game-meta span {
        display: block !important;
        text-align: center !important;
        font-size: 12px !important;
        line-height: 12px !important;
    }
    
    .game-meta .game-time .timer #clock,
    .game-meta .game-time .timer,
    .game-points {
        font-size: 12px !important;
        text-align: center !important;
        line-height: 12px;
    }
    
    .game-meta .row .col > span:last-child {
        margin-left: 10px;
    }
}

@media(min-height: 720px){

    .center-content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding-bottom: 130px;
    }

    .intro .copyright {
        position: fixed;
        margin-top: 32px;
        line-height: 20px;
        height: 85px;
    }

    .intro-info {
        position: fixed;
        bottom: 85px;
        left: 0;
        right: 0;
    }

    
}

@media(max-height: 719px){
    .intro .copyright {
        position: relative;
        margin-top: 32px;
        line-height: 20px;
        height: 85px;
    }
}