{% extends 'layout.html.twig' %}
{% block body_class %}registration-page{% endblock body_class %}
{% block body %}

    {% include 'nav.html.twig' %}

    <section class="section section--inner section--inner-register">
        <div class="container vh-100--inner">
            <div class="row">
                <div class="col-10 mx-auto text-center">
                    <div class="staropramen-piknik">
                        <img src="{{ asset('assets/images/sutiraj.png') }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ml-auto">
                    <div class="content content--black-bg">
                        <div class="form-wrapper">
                            <div class="form-title">
                                UNESITE BROJ TELEFONA ↓
                            </div>
                            <form id="playerRegisterForm" action="{{ path('add_phone') }}" method="POST" class="form form--register">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Broj telefona">
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn--yellow">Start</button>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 mr-auto right-col-with-can">
                    <div class="can-wrapper">
                        <img src="{{ asset('assets/images/intro.png') }}">
                    </div>
                </div>
            </div>

        </div>
        {% include 'copyright.html.twig' %}
    </section>

{% endblock %}

{% block javascripts %}

    <script>
        $(function () {
            $('#playerRegisterForm').validate({
                rules: {
                    'phone': {
                        required: true,
                        number: true,
                        minlength: 9,
                        maxlength: 10,
                    }
                },
                messages: {
                    'phone': {
                        required: "Sva polja su obavezna, molimo Vas da popunite sva polja.",
                        number: "Molimo Vas da unesete validan broj u formatu \"064123...\"",
                        minlength: "Broj mora imati 9 ili 10 cifara.",
                        maxlength: "Broj mora imati 9 ili 10 cifara."
                    }
                }
            });

        });

    </script>
{% endblock %}
