{% extends 'layout.html.twig' %}
{% block body_class %}age-gate-page{% endblock body_class %}
{% block body %}

    {% for message in app.flashes('xxx') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <section class="section section--age-gate">
        <div class="container">
            <div class="row text-center vh-100">
                <div class="col-12 my-auto">
                    <div class="content content--age-gate">
                        <div class="logos logos--age-gate">
                            <div class="staropramen-logo">
                                <img src="{{ asset('assets/images/jelen-logo-square.svg') }}">
                            </div>
                            <div class="staropramen-logo--piknik">
                                <img src="{{ asset('assets/images/sutiraj.png') }}">
                            </div>
                        </div>
                        <h3 class="text-uppercase">Unesite datum rođenja</h3>
                        <p>Posetioci ove stranice moraju imati 18 ili više godina.</p>
                        <form id="age-gate" method="post" action="{{ path('age_gate') }}" class="form form--age-gate">
                            <div class="row">
                                <div class="col">
                                    <div class="select-wrapper">
                                        <select class="form-control" name="day">
                                            <option value="0">Dan</option>
                                            {% for day in days %}
                                                <option value="{{ day }}">{{ day }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="select-wrapper">
                                        <select class="form-control" name="month">
                                            <option value="0">Mesec</option>
                                            {% for month in months %}
                                                <option value="{{ month }}">{{ month }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="select-wrapper">
                                        <select class="form-control" name="year">
                                            <option value="0">Godina</option>
                                            {% for year in years %}
                                                <option value={{ year }}>{{ year }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn--enter">Uđi na sajt</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="age-gate-info">
                                        Ovaj vebsajt čuva “kolačiće” u Vašem pretraživaču da bi poboljšao Vaše iskustvo. 
                                        Za više informacija o “kolačićima”, na koji način se koriste, kao i o zaštiti privatnosti, 
                                        pogledajte našu <a href="#">stranicu sa informacijama o kolačićima</a>.
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 text-center">
                    {% include 'copyright.html.twig' %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
{% endblock %}
