<script type="text/javascript">
    {% if redirectUrl is not empty %}
    parent.opener.document.location.href = '{{ redirectUrl }}';
    {% else %}
    parent.opener.document.location.reload(true);
    {% endif %}

    window.close();
</script>