{% extends 'layout.html.twig' %}
{% block body_class %}code-page{% endblock body_class %}
{% block body %}

   {% include 'nav.html.twig' %}
    <section class="section section--inner section--inner-code">
        <div class="container vh-100--inner">
            <div class="row">
                <div class="col-10 mx-auto text-center">
                    <div class="staropramen-piknik">
                       <img src="{{ asset('assets/images/sutiraj.png') }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ml-auto">
                    <div class="content content--black-bg">
                        <div class="form-wrapper">
                            <form id="codeRegisterForm" action="{{ path('code_register') }}" method="POST" class="form form--code">
                                <div class="form-group">
                                    <label for="code">Unesi kod sa fiskalnog računa</label>
                                    <input type="text" class="form-control" id="code" name="code" placeholder="Kod sa fiskalnog računa">
                                    {% for message in app.flashes('codeNotValid') %}
                                        <div class="alert alert-notice">
                                            Kod nije validan
                                        </div>
                                    {% endfor %}
                                    {% for message in app.flashes('codeUsed') %}
                                        <div class="alert alert-notice">
                                            Kod je već iskorišćen
                                        </div>
                                    {% endfor %}

                                </div>
                                <button type="submit" class="btn btn--yellow">Potvrdi</button>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="accept" name="accept" value="1">
                                    <label class="form-check-label" for="accept">Pročitao/la sam i prihvatam Uslove Pravila nagradnog konkursa Snaga je u vama.</label>
                                </div>
                            </form>
                            {% if check is defined and check is not null %}<label>Kod koji ste uneli je neispravan ili je već iskorišćen. Molimo Vas unesite validan kod!</label>{% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 mr-auto right-col-with-can">
                    <div class="can-wrapper">
                       <img src="{{ asset('assets/images/intro.png') }}">
                    </div>
                </div>
                <div class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">OBAVEŠTENjE</h5>
                            </div>
                            <div class="modal-body">
                                <p>Vaš pretraživač ne podržava osnovne zahteve potrebne za igranje ove igre.</p>
                                <p>Molimo Vas koristite neki od drugih pretraživača (Google Chrome, Firefox, Safari, Microsoft Edge, Opera).</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'copyright.html.twig' %}
    </section>


{% endblock %}

{% block javascripts %}
    <script>

        $(function () {
            $('#codeRegisterForm').validate({
                rules: {
                    'code': {
                        required: true,
                    },
                    'accept': {
                        required: true
                    }
                },
                messages: {
                    'code': {
                        required: "Morate da unesete kod.",
                    },
                    'accept': {
                        required: "Morate da prihvatite uslove i pravila nagradnog konkursa.",
                    }
                }
            });

            $('#submitButton').on('click', function (e) {
                e.preventDefault();
                $('#codeRegisterForm').submit();
            })
            $('#code').focus();

            if (!window.WebSocket) {
                $('.modal').show();
                $('.btn-primary').click(function (e) {
                    e.preventDefault();
                    window.location.href = "{{ path('intro') }}";
                });
            }

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv:11\./))  // If Internet Explorer, return version number
            {
                $('.modal').show();
                $('.btn-primary').click(function (e) {
                    e.preventDefault();
                    window.location.href = "{{ path('intro') }}";
                });
            }

        });

    </script>
{% endblock %}
