{% extends 'layout.html.twig' %}
{% block body_class %}registration-page{% endblock body_class %}
{% block body %}

   {% include 'nav.html.twig' %}

    <section class="section section--inner section--inner-register">
        <div class="container vh-100--inner">
            <div class="row">
                <div class="col-10 mx-auto text-center">
                    <div class="staropramen-piknik">
                       <img src="{{ asset('assets/images/sutiraj.png') }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ml-auto">
                    <div class="content content--black-bg">
                        <div class="form-wrapper">
                            <div class="form-title">
                                REGISTRACIJA ↓
                            </div>
                            <form id="playerRegisterForm" action="{{ path('player_register') }}" method="POST" class="form form--register">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Ime">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Prezime">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="address" name="address" placeholder="Adresa">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="city" name="city" placeholder="Mesto">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Broj telefona">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn--yellow">Start</button>
                                
                            </form>
                            <div class="other-logins">
                                <h4 class="text-center">ili se prijavite sa</h4>
                                <div class="row">
                                    <div class="col">
                                        <button class="d-block btn btn--facebook" id="facebookLogin" rel="{{ path('fb_login') }}">
                                            <span class="">Facebook</span>
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button class="d-block btn btn--google" id="googleLogin" rel="{{ path('google_login') }}">
                                            <span class="">Google</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 mr-auto right-col-with-can">
                    <div class="can-wrapper">
                       <img src="{{ asset('assets/images/intro.png') }}">
                    </div>
                </div>
            </div>
           
        </div>
        {% include 'copyright.html.twig' %}
    </section>

{% endblock %}

{% block javascripts %}

    <script>
        $(function () {
            $('#playerRegisterForm').validate({
                rules: {
                    'firstName': {
                        required: true
                    },
                    'lastName': {
                        required: true
                    },
                    'phone': {
                        required: true,
                        number: true,
                        minlength: 9,
                        maxlength: 10,
                    },
                    'address': {
                        required: true,
                    },
                    'city': {
                        required: true,
                    },
                    'email': {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    'firstName': {
                        required: "Sva polja su obavezna, molimo Vas da popunite sva polja.",
                    },
                    'lastName': {
                        required: "Sva polja su obavezna, molimo Vas da popunite sva polja.",
                    },
                    'phone': {
                        required: "Sva polja su obavezna, molimo Vas da popunite sva polja.",
                        number: "Molimo Vas da unesete validan broj u formatu \"064123...\"",
                        minlength: "Broj mora imati 9 ili 10 cifara.",
                        maxlength: "Broj mora imati 9 ili 10 cifara."
                    },
                    'city': {
                        required: "Sva polja su obavezna, molimo Vas da popunite sva polja.",
                    },
                    'address': {
                        required: "Sva polja su obavezna, molimo Vas da popunite sva polja.",
                    },
                    'email': {
                        required: "Sva polja su obavezna, molimo Vas da popunite sva polja.",
                        email: "Unesite validnu email adresu."
                    }
                }
            });

            $('#facebookLogin').click(function(){
                var url = $('#facebookLogin').attr('rel');
                var left = (screen.width/2)-(500/2);
                var top = (screen.height/2)-(600/2);
                window.open(url,'popUpWindow','height=600,width=500,left='+left+',top='+top+',resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=no');
            });
            $('#googleLogin').click(function(){
                var url = $('#googleLogin').attr('rel');
                var left = (screen.width/2)-(500/2);
                var top = (screen.height/2)-(400/2);
                window.open(url,'popUpWindow','height=400,width=500,left='+left+',top='+top+',resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,directories=no, status=no');
            });

        });

    </script>
{% endblock %}
