{% extends 'layout.html.twig' %}

{% block body %}

    <div class="row">

        <div class="col">
            <a class="btn btn-sm btn-primary" href="{{ path('code_register') }}">Igraj ponovo</a>
            <a class="btn btn-sm btn-primary" href="{{ path('age_gate') }}">Novi igrač</a>
        </div>

        <div class="col-12">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Score</th>
                    <th>Vreme</th>
                </tr>
                </thead>

                <tbody>
                {% for player in players %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ player.firstName }}</td>
                        <td>{{ player.lastName }}</td>
                        <td>{{ player.score }}</td>
                        <td>{{ player.time|makeTime }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}