{% extends sonata_block.templates.block_base %}

{% block block %}
    <h3 class="sonata-feed-title">{{ settings.title }}</h3>

    <div class="sonata-feeds-container">
       <a class="btn btn-primary" href="{{ path('export_players') }}">Export players</a>
       <a class="btn btn-primary" href="{{ path('export_cheaters') }}">Export cheaters</a>
    </div>
{% endblock %}
