<div class="copyright copyright--game">
    <p>
        Ovaj sajt i njegov sadržaj su vlasništvo Apatinske pivare. <a href="{{ path('politika-privatnosti') }}">Politika privatnosti</a>. © 2020. Sva prava zadržana.
    </p>
</div>

<div id="cookieAcceptBar" class="cookieAcceptBar">
    <div class="container text-center">
        <p>Ova veb stranica čuva kolačiće (eng. cookies) u Vašem pretraživaču kako bi unapredili Vaše iskustvo u korišćenju stranice. <br>Za više informacija o kolačićima, kako ih stranica koristi i Vašoj privatnosti, kliknite na: <a href="{{ path('politika-privatnosti') }}">informacije o kolačićima.</a></p>
        <p><button id="cookieAcceptBarConfirm" class="btn">SLAŽEM SE</button></p>
    </div>
</div>