<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:url" content="{{ absolute_url(path('intro')) }}"/>

        <meta property="og:type" content="website"/>

        <meta property="og:title" content="JELEN PENALI"/>
        <meta property="og:description" content="Učestvuj i ti!"/>

        <meta property="og:image" content="{{ absolute_url(path('intro')) }}assets/images/jelen-share-image.jpg"/>
        <meta property="og:site_name" content="JELEN PENALI"/>

        <meta property="fb:app_id" content="253711655761839"/>
        {% block headerstyle %} {% endblock headerstyle %}

        <title>{% block title %}Jelen igra{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/node_modules/bootstrap/dist/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css?v29') }}">
        <script>
            var CMS = window.CMS || {};
            CMS.data = {
                wsSrv: "{{ getenv('WS_SERVER') ~ ':' ~ getenv('WS_PORT') }}"
            };
        </script>
        {% block headerscript %}{% endblock headerscript %}
    </head>
    <body class="{% block body_class %}{% endblock body_class %}">
        {% block body %}{% endblock %}
        <script src="{{ asset('assets/node_modules/jquery/dist/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/node_modules/@popperjs/core/dist/umd/popper.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/node_modules/bootstrap/dist/js/bootstrap.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/node_modules/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/node_modules/js-cookie/src/js.cookie.js') }}"></script>
        <script src="{{ asset('assets/js/script.js') }}" type="text/javascript"></script>
        <script>
            $(window).scroll(function() {    
                var scroll = $(window).scrollTop();

                if (scroll >= 50) {
                    $(".master-head").addClass("darkHeader");
                } else {
                    $(".master-head").removeClass("darkHeader");
                }
            });
        </script>
        <script src="{{ absolute_url(asset('bundles/fosjsrouting/js/router.js')) }}"></script>
        <script src="{{ url('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
