<header class="master-head">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                <ul class="navbar-nav navbar-nav--left ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'player_register' %}active{% endif %}" href="{{ path('player_register') }}">Registracija</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'pravila' %}active{% endif %}" href="{{ path('pravila') }}">Pravila</a>
                    </li>
                </ul>
               <a class="navbar-brand" href="#"><img src="{{ asset('assets/images/jelen-logo-square.svg') }}"></a>
                <ul class="navbar-nav navbar-nav--right mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'nagrade' %}active{% endif %}" href="{{ path('nagrade') }}">Nagrade</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'top_lista' %}active{% endif %}" href="{{ path('top_lista') }}">Rang lista</a>
                    </li>
                </ul>
            </div>
        </nav>
       <a class="navbar-brand navbar-brand--mobile mx-auto" href="#"><img src="{{ asset('assets/images/jelen-logo-square.svg') }}"></a>
    </div>
</header>
