<ul>
    {% if previous is defined %}
        <li class="pagination-arrow prev"><a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><img src="{{ asset('assets/images/arrow-left.svg') }}"></a></li>
    {% else %}
        <li class="pagination-arrow prev disabled"><a rel="prev" href=""><img src="{{ asset('assets/images/arrow-left.svg') }}"></a></li>
    {% endif %}
    {% for page in pagesInRange %}
        {% if page != current %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li class="current active">
                <a>{{ page }}</a>
            </li>
        {% endif %}
    {% endfor %}


    {% if next is defined %}
        <li class="pagination-arrow next"><a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}"><img src="{{ asset('assets/images/arrow-right.svg') }}"></a></li>
    {% else %}
        <li class="disabled pagination-arrow next"><a rel="next" href=""><img src="{{ asset('assets/images/arrow-right.svg') }}"></a></li>
    {% endif %}
</ul>
